<div class="row">

    <div class="col-md-4">
        <div class="main">

            <h4 align="left">Add New Employee</h4>
            <div class="login-or">
                <hr class="hr-or">
                <span class="span-or"></span>
            </div>

            <form role="form">
                <div class="form-group">
                    <label for="inputUsernameEmail">Full Name</label>
                    <input type="text" class="form-control" [(ngModel)]="employee.FullName" name="FullName">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Email</label>
                    <input type="text" class="form-control" [(ngModel)]="employee.Email" name="Email">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Mobile Number</label>
                    <input type="text" class="form-control" [(ngModel)]="employee.PhoneNumber" name="PhoneNumber">
                </div>
                <div class="form-group">
                    <label for="inputPassword">User Name</label>
                    <input type="text" class="form-control" [(ngModel)]="employee.UserName" name="UserName">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Updated On</label>
                    <input type="date" readonly class="form-control" [(ngModel)]="employee.updated" name="UserName">

                </div>
                <button type="submit" class="btn btn-primary" *ngIf="type === 'new'" (click)="create()">
                    Create
                </button>
                <button class="btn btn-primary" *ngIf="type !== 'new'" (click)="update()">
                    Update
                </button>
            </form>

        </div>
    </div>


</div>